<div class="container" id="Exchange-rate" style="display: none;">
    <p>Döviz çevirici</p>
    <div class="justify-content-between d-flex h-75 align-items-center" id="Exchange-Select-Area">
        <div class="input-group" style="max-width: 16rem;padding-right: 29px;">
            <div class="input-group-prepend"></div><input class="form-control" type="text" id="fromInput"
                                                          style="border-top-left-radius: 20px;width: 83px;border-bottom-left-radius: 20px;"><select class="form-control" id="From"
                                                                                                                                                    style="border-top-right-radius: 20px;border-bottom-right-radius: 20px;" name="From">
                <optgroup label="From">
                    <option>TRY</option>
                    <option>USD</option>
                    <option>EUR</option>
                    <option>SAR</option>
                    <option>JPY</option>
                    <option>BGN</option>
                    <option>CZK</option>
                    <option>DKK</option>
                    <option>GBP</option>
                    <option>HUF</option>
                    <option>PLN</option>
                    <option>RON</option>
                    <option>SEK</option>
                    <option>CHF</option>
                    <option>ISK</option>
                    <option>NOK</option>
                    <option>HRK</option>
                    <option>RUB</option>
                    <option>AUD</option>
                    <option>BRL</option>
                    <option>CAD</option>
                    <option>CNY</option>
                    <option>HKD</option>
                    <option>IDR</option>
                    <option>ILS</option>
                    <option>INR</option>
                    <option>KRW</option>
                    <option>MXN</option>
                    <option>MYR</option>
                    <option>NZD</option>
                    <option>PHP</option>
                    <option>SGD</option>
                    <option>THB</option>
                    <option>ZAR</option>
                </optgroup>
            </select>
            <div class="input-group-append"></div>
        </div>
        <div class="d-lg-flex flex-column justify-content-lg-center align-items-lg-center d-flex"
             style="margin-right: 27px;">
            <div style="width: 14px;height: 4px;background-color: var(--red);border-color: #F73D38;"></div>
            <div style="width: 14px;height: 4px;background-color: var(--red);margin: 3px;border-color: #F73D38;">
            </div>
        </div>
	    <div class="input-group" style="max-width: 16rem;padding-right: 29px;">
		    <div class="input-group-prepend"></div><input class="form-control" type="text" id="toInput"
		                                                  style="border-top-left-radius: 20px;width: 83px;border-bottom-left-radius: 20px;"
		                                                  readonly=""><select class="form-control" id="To"
		                                                                      style="border-top-right-radius: 20px;border-bottom-right-radius: 20px;" name="To">
			    <optgroup label="To">
				    <option>TRY</option>
				    <option>USD</option>
				    <option>EUR</option>
				    <option>SAR</option>
				    <option>JPY</option>
				    <option>BGN</option>
				    <option>CZK</option>
				    <option>DKK</option>
				    <option>GBP</option>
				    <option>HUF</option>
				    <option>PLN</option>
				    <option>RON</option>
				    <option>SEK</option>
				    <option>CHF</option>
				    <option>ISK</option>
				    <option>NOK</option>
				    <option>HRK</option>
				    <option>RUB</option>
				    <option>AUD</option>
				    <option>BRL</option>
				    <option>CAD</option>
				    <option>CNY</option>
				    <option>HKD</option>
				    <option>IDR</option>
				    <option>ILS</option>
				    <option>INR</option>
				    <option>KRW</option>
				    <option>MXN</option>
				    <option>MYR</option>
				    <option>NZD</option>
				    <option>PHP</option>
				    <option>SGD</option>
				    <option>THB</option>
				    <option>ZAR</option>
			    </optgroup>
		    </select>
		    <div class="input-group-append"></div>
	    </div>
	    <button class="btn btn-primary" data-bss-disabled-mobile="true" data-bss-hover-animate="rubberBand"
                      id="Exchange-rate-closeBtn" type="button">
            Çıkış
        </button>
    </div>



</div>